<footer>
<div class="support">
    Enjoyed the tool? Consider <a href="https://www.buymeacoffee.com/dewgenenny" target="_blank">buying me a coffee ☕</a> to show your support!
</div>
<br>
<p>© 2023 Toms Tech Tool Box</p>

</footer>
